<div class="container">
  <div class="row">
    <h1>
      Welcome to my music shop
    </h1>
  </div>
  <div class="row">
    <h2>
      Angular 7 Front End project
    </h2>
  </div>
  <div class="row">
    <ul>
      <li> Doron Davidowitz</li>
      <li>Tel Aviv-Israel</li>
      <li> Dorondavidowitz@gmail.com</li>
      <li> 052-4475610</li>
      <li><a href="https://github.com/dorondav" target="_blank">
          <img src="https://img.icons8.com/color/48/000000/github-2.png"> </a></li>
      <li><a href="https://www.linkedin.com/in/doron-davidowitz-43541a145/" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png"></a></li>
    </ul>
  </div>

</div>
