:root {
  --warning-btn-color: #ffc107;
  --danger-btn-color: #dc3545;
  --border: 3px;
}

/*Error Handdeling Css*/
input.ng-invalid.ng-touched {
  border: 1px solid var(--danger-btn-color);
}

.errorMsg {
  color: var(--danger-btn-color);
}
